In [1]:
import pandas as pd
import numpy as np
columns = ["ID", "RI", "Na", "Mg", "Al", "Si", "K", "Ca", "Ba", "Fe", "Type"]
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data", header=None, names=columns)
print(df)

      ID       RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Type
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00     1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00     1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00     1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00     1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00     1
5      6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26     1
6      7  1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.00  0.00     1
7      8  1.51756  13.15  3.61  1.05  73.24  0.57  8.24  0.00  0.00     1
8      9  1.51918  14.04  3.58  1.37  72.08  0.56  8.30  0.00  0.00     1
9     10  1.51755  13.00  3.60  1.36  72.99  0.57  8.40  0.00  0.11     1
10    11  1.51571  12.72  3.46  1.56  73.20  0.67  8.09  0.00  0.24     1
11    12  1.51763  12.80  3.66  1.27  73.01  0.60  8.56  0.00  0.00     1
12    13  1.51589  12.88  3.43  1.40  73.28  0.69  8.05  0.00  0.24     1
13    14  1.51748  12.86  3.56  1.27  73.21  0.54  8.38  0.00  0.17     1
14    15  1.51763  12.61  3.59  1.31  73.29  0.58  8.50  0.00  0.00     1
15    16  1.51761  12.81  3.54  1.23  73.24  0.58  8.39  0.00  0.00     1
16    17  1.51784  12.68  3.67  1.16  73.11  0.61  8.70  0.00  0.00     1
17    18  1.52196  14.36  3.85  0.89  71.36  0.15  9.15  0.00  0.00     1
18    19  1.51911  13.90  3.73  1.18  72.12  0.06  8.89  0.00  0.00     1
19    20  1.51735  13.02  3.54  1.69  72.73  0.54  8.44  0.00  0.07     1
20    21  1.51750  12.82  3.55  1.49  72.75  0.54  8.52  0.00  0.19     1
21    22  1.51966  14.77  3.75  0.29  72.02  0.03  9.00  0.00  0.00     1
22    23  1.51736  12.78  3.62  1.29  72.79  0.59  8.70  0.00  0.00     1
23    24  1.51751  12.81  3.57  1.35  73.02  0.62  8.59  0.00  0.00     1
24    25  1.51720  13.38  3.50  1.15  72.85  0.50  8.43  0.00  0.00     1
25    26  1.51764  12.98  3.54  1.21  73.00  0.65  8.53  0.00  0.00     1
26    27  1.51793  13.21  3.48  1.41  72.64  0.59  8.43  0.00  0.00     1
27    28  1.51721  12.87  3.48  1.33  73.04  0.56  8.43  0.00  0.00     1
28    29  1.51768  12.56  3.52  1.43  73.15  0.57  8.54  0.00  0.00     1
29    30  1.51784  13.08  3.49  1.28  72.86  0.60  8.49  0.00  0.00     1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...   ...   ...
184  185  1.51115  17.38  0.00  0.34  75.41  0.00  6.65  0.00  0.00     6
185  186  1.51131  13.69  3.20  1.81  72.81  1.76  5.43  1.19  0.00     7
186  187  1.51838  14.32  3.26  2.22  71.25  1.46  5.79  1.63  0.00     7
187  188  1.52315  13.44  3.34  1.23  72.38  0.60  8.83  0.00  0.00     7
188  189  1.52247  14.86  2.20  2.06  70.26  0.76  9.76  0.00  0.00     7
189  190  1.52365  15.79  1.83  1.31  70.43  0.31  8.61  1.68  0.00     7
190  191  1.51613  13.88  1.78  1.79  73.10  0.00  8.67  0.76  0.00     7
191  192  1.51602  14.85  0.00  2.38  73.28  0.00  8.76  0.64  0.09     7
192  193  1.51623  14.20  0.00  2.79  73.46  0.04  9.04  0.40  0.09     7
193  194  1.51719  14.75  0.00  2.00  73.02  0.00  8.53  1.59  0.08     7
194  195  1.51683  14.56  0.00  1.98  73.29  0.00  8.52  1.57  0.07     7
195  196  1.51545  14.14  0.00  2.68  73.39  0.08  9.07  0.61  0.05     7
196  197  1.51556  13.87  0.00  2.54  73.23  0.14  9.41  0.81  0.01     7
197  198  1.51727  14.70  0.00  2.34  73.28  0.00  8.95  0.66  0.00     7
198  199  1.51531  14.38  0.00  2.66  73.10  0.04  9.08  0.64  0.00     7
199  200  1.51609  15.01  0.00  2.51  73.05  0.05  8.83  0.53  0.00     7
200  201  1.51508  15.15  0.00  2.25  73.50  0.00  8.34  0.63  0.00     7
201  202  1.51653  11.95  0.00  1.19  75.18  2.70  8.93  0.00  0.00     7
202  203  1.51514  14.85  0.00  2.42  73.72  0.00  8.39  0.56  0.00     7
203  204  1.51658  14.80  0.00  1.99  73.11  0.00  8.28  1.71  0.00     7
204  205  1.51617  14.95  0.00  2.27  73.30  0.00  8.71  0.67  0.00     7
205  206  1.51732  14.95  0.00  1.80  72.99  0.00  8.61  1.55  0.00     7
206  207  1.51645  14.94  0.00  1.87  73.11  0.00  8.67  1.38  0.00     7
207  208  1.51831  14.39  0.00  1.82  72.86  1.41  6.47  2.88  0.00     7
208  209  1.51640  14.37  0.00  2.74  72.85  0.00  9.45  0.54  0.00     7
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00     7
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00     7
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.00     7
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00     7
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00     7

[214 rows x 11 columns]

In [2]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
ID      214 non-null int64
RI      214 non-null float64
Na      214 non-null float64
Mg      214 non-null float64
Al      214 non-null float64
Si      214 non-null float64
K       214 non-null float64
Ca      214 non-null float64
Ba      214 non-null float64
Fe      214 non-null float64
Type    214 non-null int64
dtypes: float64(9), int64(2)
memory usage: 18.5 KB

,ID,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,107.500000,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,61.920648,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.000000,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,54.250000,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,107.500000,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,160.750000,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,214.000000,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

As per the current results, no data is missing in the given data set. 214 rows * 11 columns

In [3]:
df['Type'].value_counts()

2    76
1    70
7    29
3    17
5    13
6     9
Name: Type, dtype: int64

df['Type'] is a categorical attribute. df['Type'] in my understanding is the Y i.e. the Label, all other columns are the X i.e attributes. Let us divide the dataframe into X and Ys

In [4]:
df1 = df[["ID", "RI", "Na", "Mg", "Al", "Si", "K", "Ca", "Ba", "Fe"]]
df2 = df[["Type"]]

In [5]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(df1, df2, test_size=0.30, random_state=42)

In [44]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
import numpy
kf = KFold(n_splits=5)
kf.get_n_splits(df1)
print(kf)
a = pd.DataFrame()
b = []
b = np.array(b) # Initialize an empty numpy nd array without giving any size
clf = GaussianNB()
for train_index, test_index in kf.split(df1):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = df1.iloc[train_index], df1.iloc[test_index]
    y_train, y_test = df2.iloc[train_index], df2.iloc[test_index]
    clf.fit(X_train, y_train)
    y = clf.predict(X_test)
    a = a.append(y_test)
    b = numpy.append(b,y)
a = a.values # to convert a dataframe to numpy ndarray
print(accuracy_score(a,b))

KFold(n_splits=5, random_state=None, shuffle=False)
[[1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]]
[2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 1. 1. 2. 2. 1. 2. 2.
 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2.
 1. 1. 2. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 2. 1. 2. 1. 1. 2. 2. 2. 2. 2. 2.
 1. 1. 1. 1. 1. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 1. 1. 2. 2. 2. 2. 2. 7. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2. 2. 2. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 7. 2. 2. 2. 2.
 7. 5. 5. 5. 5. 5. 2. 2. 5. 2. 2. 2. 2. 2. 2. 2. 5. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.]
0.514018691588785

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)