In [31]:
age = [ 19, 20, 21]
freq = [1, 3, 1]
sum1 = list()
temp1 = 0
temp2 = 0
for i in range(0, len(age)):
     sum1.append(age[i] * freq[i])
for each,x in zip(sum1,freq):
    temp1 += each
    temp2 += x
    
mean = temp1/temp2
print(mean)

20.0

In [11]:
import pandas
column_names = ['Color','Size','Act','Age','Inflated']
csv = pandas.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/balloons/adult-stretch.data",names = column_names)
print(csv)

     Color   Size      Act    Age Inflated
0   YELLOW  SMALL  STRETCH  ADULT        T
1   YELLOW  SMALL  STRETCH  CHILD        T
2   YELLOW  SMALL      DIP  ADULT        T
3   YELLOW  SMALL      DIP  CHILD        F
4   YELLOW  SMALL      DIP  CHILD        F
5   YELLOW  LARGE  STRETCH  ADULT        T
6   YELLOW  LARGE  STRETCH  CHILD        T
7   YELLOW  LARGE      DIP  ADULT        T
8   YELLOW  LARGE      DIP  CHILD        F
9   YELLOW  LARGE      DIP  CHILD        F
10  PURPLE  SMALL  STRETCH  ADULT        T
11  PURPLE  SMALL  STRETCH  CHILD        T
12  PURPLE  SMALL      DIP  ADULT        T
13  PURPLE  SMALL      DIP  CHILD        F
14  PURPLE  SMALL      DIP  CHILD        F
15  PURPLE  LARGE  STRETCH  ADULT        T
16  PURPLE  LARGE  STRETCH  CHILD        T
17  PURPLE  LARGE      DIP  ADULT        T
18  PURPLE  LARGE      DIP  CHILD        F
19  PURPLE  LARGE      DIP  CHILD        F

In [10]:
import pandas
csv = pandas.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/balloons/adult-stretch.data",header=None)
print(csv)

         0      1        2      3  4
0   YELLOW  SMALL  STRETCH  ADULT  T
1   YELLOW  SMALL  STRETCH  CHILD  T
2   YELLOW  SMALL      DIP  ADULT  T
3   YELLOW  SMALL      DIP  CHILD  F
4   YELLOW  SMALL      DIP  CHILD  F
5   YELLOW  LARGE  STRETCH  ADULT  T
6   YELLOW  LARGE  STRETCH  CHILD  T
7   YELLOW  LARGE      DIP  ADULT  T
8   YELLOW  LARGE      DIP  CHILD  F
9   YELLOW  LARGE      DIP  CHILD  F
10  PURPLE  SMALL  STRETCH  ADULT  T
11  PURPLE  SMALL  STRETCH  CHILD  T
12  PURPLE  SMALL      DIP  ADULT  T
13  PURPLE  SMALL      DIP  CHILD  F
14  PURPLE  SMALL      DIP  CHILD  F
15  PURPLE  LARGE  STRETCH  ADULT  T
16  PURPLE  LARGE  STRETCH  CHILD  T
17  PURPLE  LARGE      DIP  ADULT  T
18  PURPLE  LARGE      DIP  CHILD  F
19  PURPLE  LARGE      DIP  CHILD  F

In [34]:
age = [ 19, 20, 21]
freq = [1, 3, 1]
temp = list()
#Calculate average age 
for a1,f1 in zip(age,freq):
    temp.append(a1 * f1)
print(sum(temp)/sum(freq))

20.0

In [36]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [37]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13