In [12]:
#Series Example 1
from pandas import Series, DataFrame
s1 = Series(range(0,4))
s2 = Series(['a','b'])*3
print(s1.dtype)
print(s1.index) #as Series is one dimensional so it is for columns O/P RangeIndex(start=0, stop=4, step=1)
print(s2)

int64
RangeIndex(start=0, stop=4, step=1)
0    aaa
1    bbb
dtype: object

In [31]:
#DataFrame Example 1
from pandas import DataFrame
df = DataFrame(data=[1,2,3,4])
print(df.columns) #O/P RangeIndex(start=0, stop=1, step=1) as only 1 column, provides axes labels for column 
print(df.index) #O/P RangeIndex(start=0, stop=4, step=1) as 4 rows, provides axes labels for rows 
print(df.index.tolist()) #to convert the index to a list.
print(df)

columns = ['x','y','z']
df2 = DataFrame(data={'a':[123],'b':[456],'c':[345]})
df2.columns = columns
print(df2)

#Index functions
idx = df2.columns
l = idx.tolist() # get as python list
#a = idx.values() # get as numpy array
label = idx.min() #minimum label
label2 = idx.max()#maximum label
print(l)
#print(a)
print(label)
print(label2)

RangeIndex(start=0, stop=1, step=1)
RangeIndex(start=0, stop=4, step=1)
[0, 1, 2, 3]
   0
0  1
1  2
2  3
3  4
     x    y    z
0  123  456  345
['x', 'y', 'z']
x
z

In [38]:
#Load a Dataframe from a CSV File
import pandas as pd
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data',header=None,usecols=[1,2])
#usecols is used to specify the specific columns to read from the CSV file given above.
#name paramters is used to specify use defined column names to the given data
print(df)

       1            2
0      ?  alfa-romero
1      ?  alfa-romero
2      ?  alfa-romero
3    164         audi
4    164         audi
5      ?         audi
6    158         audi
7      ?         audi
8    158         audi
9      ?         audi
10   192          bmw
11   192          bmw
12   188          bmw
13   188          bmw
14     ?          bmw
15     ?          bmw
16     ?          bmw
17     ?          bmw
18   121    chevrolet
19    98    chevrolet
20    81    chevrolet
21   118        dodge
22   118        dodge
23   118        dodge
24   148        dodge
25   148        dodge
26   148        dodge
27   148        dodge
28   110        dodge
29   145        dodge
..   ...          ...
175   65       toyota
176   65       toyota
177   65       toyota
178  197       toyota
179  197       toyota
180   90       toyota
181    ?       toyota
182  122   volkswagen
183  122   volkswagen
184   94   volkswagen
185   94   volkswagen
186   94   volkswagen
187   94   volkswagen
188   94   volkswagen
189    ?   volkswagen
190  256   volkswagen
191    ?   volkswagen
192    ?   volkswagen
193    ?   volkswagen
194  103        volvo
195   74        volvo
196  103        volvo
197   74        volvo
198  103        volvo
199   74        volvo
200   95        volvo
201   95        volvo
202   95        volvo
203   95        volvo
204   95        volvo

[205 rows x 2 columns]

In [41]:
#Load a Dataframe from a CSV File
import pandas as pd
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data',header=None,na_values='?')
#usecols is used to specify the specific columns to read from the CSV file given above.
#name paramters is used to specify use defined column names to the given data
#na_values to specify additional strings to recognize NaN (Not a number)
print(df)

     0      1            2       3      4     5            6    7      8   \
0     3    NaN  alfa-romero     gas    std   two  convertible  rwd  front
1     3    NaN  alfa-romero     gas    std   two  convertible  rwd  front
2     1    NaN  alfa-romero     gas    std   two    hatchback  rwd  front
3     2  164.0         audi     gas    std  four        sedan  fwd  front
4     2  164.0         audi     gas    std  four        sedan  4wd  front
5     2    NaN         audi     gas    std   two        sedan  fwd  front
6     1  158.0         audi     gas    std  four        sedan  fwd  front
7     1    NaN         audi     gas    std  four        wagon  fwd  front
8     1  158.0         audi     gas  turbo  four        sedan  fwd  front
9     0    NaN         audi     gas  turbo   two    hatchback  4wd  front
10    2  192.0          bmw     gas    std   two        sedan  rwd  front
11    0  192.0          bmw     gas    std  four        sedan  rwd  front
12    0  188.0          bmw     gas    std   two        sedan  rwd  front
13    0  188.0          bmw     gas    std  four        sedan  rwd  front
14    1    NaN          bmw     gas    std  four        sedan  rwd  front
15    0    NaN          bmw     gas    std  four        sedan  rwd  front
16    0    NaN          bmw     gas    std   two        sedan  rwd  front
17    0    NaN          bmw     gas    std  four        sedan  rwd  front
18    2  121.0    chevrolet     gas    std   two    hatchback  fwd  front
19    1   98.0    chevrolet     gas    std   two    hatchback  fwd  front
20    0   81.0    chevrolet     gas    std  four        sedan  fwd  front
21    1  118.0        dodge     gas    std   two    hatchback  fwd  front
22    1  118.0        dodge     gas    std   two    hatchback  fwd  front
23    1  118.0        dodge     gas  turbo   two    hatchback  fwd  front
24    1  148.0        dodge     gas    std  four    hatchback  fwd  front
25    1  148.0        dodge     gas    std  four        sedan  fwd  front
26    1  148.0        dodge     gas    std  four        sedan  fwd  front
27    1  148.0        dodge     gas  turbo   NaN        sedan  fwd  front
28   -1  110.0        dodge     gas    std  four        wagon  fwd  front
29    3  145.0        dodge     gas  turbo   two    hatchback  fwd  front
..   ..    ...          ...     ...    ...   ...          ...  ...    ...
175  -1   65.0       toyota     gas    std  four    hatchback  fwd  front
176  -1   65.0       toyota     gas    std  four        sedan  fwd  front
177  -1   65.0       toyota     gas    std  four    hatchback  fwd  front
178   3  197.0       toyota     gas    std   two    hatchback  rwd  front
179   3  197.0       toyota     gas    std   two    hatchback  rwd  front
180  -1   90.0       toyota     gas    std  four        sedan  rwd  front
181  -1    NaN       toyota     gas    std  four        wagon  rwd  front
182   2  122.0   volkswagen  diesel    std   two        sedan  fwd  front
183   2  122.0   volkswagen     gas    std   two        sedan  fwd  front
184   2   94.0   volkswagen  diesel    std  four        sedan  fwd  front
185   2   94.0   volkswagen     gas    std  four        sedan  fwd  front
186   2   94.0   volkswagen     gas    std  four        sedan  fwd  front
187   2   94.0   volkswagen  diesel  turbo  four        sedan  fwd  front
188   2   94.0   volkswagen     gas    std  four        sedan  fwd  front
189   3    NaN   volkswagen     gas    std   two  convertible  fwd  front
190   3  256.0   volkswagen     gas    std   two    hatchback  fwd  front
191   0    NaN   volkswagen     gas    std  four        sedan  fwd  front
192   0    NaN   volkswagen  diesel  turbo  four        sedan  fwd  front
193   0    NaN   volkswagen     gas    std  four        wagon  fwd  front
194  -2  103.0        volvo     gas    std  four        sedan  rwd  front
195  -1   74.0        volvo     gas    std  four        wagon  rwd  front
196  -2  103.0        volvo     gas    std  four        sedan  rwd  front
197  -1   74.0        volvo     gas    std  four        wagon  rwd  front
198  -2  103.0        volvo     gas  turbo  four        sedan  rwd  front
199  -1   74.0        volvo     gas  turbo  four        wagon  rwd  front
200  -1   95.0        volvo     gas    std  four        sedan  rwd  front
201  -1   95.0        volvo     gas  turbo  four        sedan  rwd  front
202  -1   95.0        volvo     gas    std  four        sedan  rwd  front
203  -1   95.0        volvo  diesel  turbo  four        sedan  rwd  front
204  -1   95.0        volvo     gas  turbo  four        sedan  rwd  front

        9    ...      16    17    18    19     20     21      22  23  24  \
0     88.6   ...     130  mpfi  3.47  2.68   9.00  111.0  5000.0  21  27
1     88.6   ...     130  mpfi  3.47  2.68   9.00  111.0  5000.0  21  27
2     94.5   ...     152  mpfi  2.68  3.47   9.00  154.0  5000.0  19  26
3     99.8   ...     109  mpfi  3.19  3.40  10.00  102.0  5500.0  24  30
4     99.4   ...     136  mpfi  3.19  3.40   8.00  115.0  5500.0  18  22
5     99.8   ...     136  mpfi  3.19  3.40   8.50  110.0  5500.0  19  25
6    105.8   ...     136  mpfi  3.19  3.40   8.50  110.0  5500.0  19  25
7    105.8   ...     136  mpfi  3.19  3.40   8.50  110.0  5500.0  19  25
8    105.8   ...     131  mpfi  3.13  3.40   8.30  140.0  5500.0  17  20
9     99.5   ...     131  mpfi  3.13  3.40   7.00  160.0  5500.0  16  22
10   101.2   ...     108  mpfi  3.50  2.80   8.80  101.0  5800.0  23  29
11   101.2   ...     108  mpfi  3.50  2.80   8.80  101.0  5800.0  23  29
12   101.2   ...     164  mpfi  3.31  3.19   9.00  121.0  4250.0  21  28
13   101.2   ...     164  mpfi  3.31  3.19   9.00  121.0  4250.0  21  28
14   103.5   ...     164  mpfi  3.31  3.19   9.00  121.0  4250.0  20  25
15   103.5   ...     209  mpfi  3.62  3.39   8.00  182.0  5400.0  16  22
16   103.5   ...     209  mpfi  3.62  3.39   8.00  182.0  5400.0  16  22
17   110.0   ...     209  mpfi  3.62  3.39   8.00  182.0  5400.0  15  20
18    88.4   ...      61  2bbl  2.91  3.03   9.50   48.0  5100.0  47  53
19    94.5   ...      90  2bbl  3.03  3.11   9.60   70.0  5400.0  38  43
20    94.5   ...      90  2bbl  3.03  3.11   9.60   70.0  5400.0  38  43
21    93.7   ...      90  2bbl  2.97  3.23   9.41   68.0  5500.0  37  41
22    93.7   ...      90  2bbl  2.97  3.23   9.40   68.0  5500.0  31  38
23    93.7   ...      98  mpfi  3.03  3.39   7.60  102.0  5500.0  24  30
24    93.7   ...      90  2bbl  2.97  3.23   9.40   68.0  5500.0  31  38
25    93.7   ...      90  2bbl  2.97  3.23   9.40   68.0  5500.0  31  38
26    93.7   ...      90  2bbl  2.97  3.23   9.40   68.0  5500.0  31  38
27    93.7   ...      98  mpfi  3.03  3.39   7.60  102.0  5500.0  24  30
28   103.3   ...     122  2bbl  3.34  3.46   8.50   88.0  5000.0  24  30
29    95.9   ...     156   mfi  3.60  3.90   7.00  145.0  5000.0  19  24
..     ...   ...     ...   ...   ...   ...    ...    ...     ...  ..  ..
175  102.4   ...     122  mpfi  3.31  3.54   8.70   92.0  4200.0  27  32
176  102.4   ...     122  mpfi  3.31  3.54   8.70   92.0  4200.0  27  32
177  102.4   ...     122  mpfi  3.31  3.54   8.70   92.0  4200.0  27  32
178  102.9   ...     171  mpfi  3.27  3.35   9.30  161.0  5200.0  20  24
179  102.9   ...     171  mpfi  3.27  3.35   9.30  161.0  5200.0  19  24
180  104.5   ...     171  mpfi  3.27  3.35   9.20  156.0  5200.0  20  24
181  104.5   ...     161  mpfi  3.27  3.35   9.20  156.0  5200.0  19  24
182   97.3   ...      97   idi  3.01  3.40  23.00   52.0  4800.0  37  46
183   97.3   ...     109  mpfi  3.19  3.40   9.00   85.0  5250.0  27  34
184   97.3   ...      97   idi  3.01  3.40  23.00   52.0  4800.0  37  46
185   97.3   ...     109  mpfi  3.19  3.40   9.00   85.0  5250.0  27  34
186   97.3   ...     109  mpfi  3.19  3.40   9.00   85.0  5250.0  27  34
187   97.3   ...      97   idi  3.01  3.40  23.00   68.0  4500.0  37  42
188   97.3   ...     109  mpfi  3.19  3.40  10.00  100.0  5500.0  26  32
189   94.5   ...     109  mpfi  3.19  3.40   8.50   90.0  5500.0  24  29
190   94.5   ...     109  mpfi  3.19  3.40   8.50   90.0  5500.0  24  29
191  100.4   ...     136  mpfi  3.19  3.40   8.50  110.0  5500.0  19  24
192  100.4   ...      97   idi  3.01  3.40  23.00   68.0  4500.0  33  38
193  100.4   ...     109  mpfi  3.19  3.40   9.00   88.0  5500.0  25  31
194  104.3   ...     141  mpfi  3.78  3.15   9.50  114.0  5400.0  23  28
195  104.3   ...     141  mpfi  3.78  3.15   9.50  114.0  5400.0  23  28
196  104.3   ...     141  mpfi  3.78  3.15   9.50  114.0  5400.0  24  28
197  104.3   ...     141  mpfi  3.78  3.15   9.50  114.0  5400.0  24  28
198  104.3   ...     130  mpfi  3.62  3.15   7.50  162.0  5100.0  17  22
199  104.3   ...     130  mpfi  3.62  3.15   7.50  162.0  5100.0  17  22
200  109.1   ...     141  mpfi  3.78  3.15   9.50  114.0  5400.0  23  28
201  109.1   ...     141  mpfi  3.78  3.15   8.70  160.0  5300.0  19  25
202  109.1   ...     173  mpfi  3.58  2.87   8.80  134.0  5500.0  18  23
203  109.1   ...     145   idi  3.01  3.40  23.00  106.0  4800.0  26  27
204  109.1   ...     141  mpfi  3.78  3.15   9.50  114.0  5400.0  19  25

          25
0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
5    15250.0
6    17710.0
7    18920.0
8    23875.0
9        NaN
10   16430.0
11   16925.0
12   20970.0
13   21105.0
14   24565.0
15   30760.0
16   41315.0
17   36880.0
18    5151.0
19    6295.0
20    6575.0
21    5572.0
22    6377.0
23    7957.0
24    6229.0
25    6692.0
26    7609.0
27    8558.0
28    8921.0
29   12964.0
..       ...
175   9988.0
176  10898.0
177  11248.0
178  16558.0
179  15998.0
180  15690.0
181  15750.0
182   7775.0
183   7975.0
184   7995.0
185   8195.0
186   8495.0
187   9495.0
188   9995.0
189  11595.0
190   9980.0
191  13295.0
192  13845.0
193  12290.0
194  12940.0
195  13415.0
196  15985.0
197  16515.0
198  18420.0
199  18950.0
200  16845.0
201  19045.0
202  21485.0
203  22470.0
204  22625.0

[205 rows x 26 columns]

In [56]:
#Data in Series combine into a DataFrame
import pandas as pd
from pandas import DataFrame, Series
s1 = Series(range(6))
print(s1) # [0,1,2,3,4,5]
s2 = s1*s1
print(s2) # [0,1,4,9,16,25]
s2.index = s2.index + 2 #misalign indexes, s2 index now starts from 2,3,4,5,6,7
print(s2)
df = pd.concat([s1,s2],axis = 1)
print(df)

s3 = Series({'Tom':1, 'Dick':2,'Harry':3})
s4 = Series({'Tom':4, 'Dick':5,'Harry':6})
print(s3)
print(s4)
print(s3+s4)
df = pd.concat({'A':s3,'B':s4}, axis=1) #axis is the axis along which to combine the data 0 for index, 1 for columns, as pe
#my understanding, treat the other axes as a union of all possible values from the two series
print(df)

df = pd.concat({'A':s3,'B':s4}) #default axis is 0
print(df)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64
0     0
1     1
2     4
3     9
4    16
5    25
dtype: int64
2     0
3     1
4     4
5     9
6    16
7    25
dtype: int64
     0     1
0  0.0   NaN
1  1.0   NaN
2  2.0   0.0
3  3.0   1.0
4  4.0   4.0
5  5.0   9.0
6  NaN  16.0
7  NaN  25.0
Tom      1
Dick     2
Harry    3
dtype: int64
Tom      4
Dick     5
Harry    6
dtype: int64
Tom      5
Dick     7
Harry    9
dtype: int64
       A  B
Tom    1  4
Dick   2  5
Harry  3  6
A  Tom      1
   Dick     2
   Harry    3
B  Tom      4
   Dick     5
   Harry    6
dtype: int64

In [58]:
#Get Data into DataFrame from a Dictionary
from pandas import DataFrame
import pandas as pd
df = DataFrame({
    'col0':[1,2,3,4],
    'col1':[3,4,5,6],
})
print(df)

   col0  col1
0     1     3
1     2     4
2     3     5
3     4     6

In [95]:
#Get Data into DataFrame from a Dictionary
from pandas import DataFrame
import pandas as pd
df = DataFrame({'col0':{
    'row0':[1],
    'row1':[3]
    },
    'col1':{
    'row0':[2],
    'row1':[4]},
})
print(df)
print(df.size) # row count * column count
print(df.dtypes) #Series column data types
(r,c) = df.axes
print(r,c)

idx = df.columns
print(idx) #print column indexes

label = df.columns[0] # get first column label
print(label)

lst = df.columns.tolist() # get as a list
print(lst)

s = df['col0'] # select col to series
print(s)
print(type(s)) #<class 'pandas.core.series.Series'>

#to swap column contents
df[['col0','col1']] = df[['col1','col0']]
print(df)

print(df)
df = df[['col0']] #Select col to df
print(df)
print(type(df)) #<class 'pandas.core.frame.DataFrame'>

     col0 col1
row0  [1]  [2]
row1  [3]  [4]
4
col0    object
col1    object
dtype: object
Index(['row0', 'row1'], dtype='object') Index(['col0', 'col1'], dtype='object')
Index(['col0', 'col1'], dtype='object')
col0
['col0', 'col1']
row0    [1]
row1    [3]
Name: col0, dtype: object
<class 'pandas.core.series.Series'>
     col0 col1
row0  [2]  [1]
row1  [4]  [3]
     col0 col1
row0  [2]  [1]
row1  [4]  [3]
     col0
row0  [2]
row1  [4]
<class 'pandas.core.frame.DataFrame'>